 .div {
   display: flex;

   flex-direction: column;



 }

 .position-h1 {
   margin: 90px 160px;
   font-size: 6em;
   font-family: sans-serif;
   word-spacing: -10px;
   color: white;
   line-height: 90px;
 }

 .para {
   margin: 160px;
   color: rgb(236, 234, 234);
   font-family: sans-serif;
   margin-top: -60px;
   word-spacing: 10px;
   letter-spacing: 3px;



 }


 #contact {
   border: 1px solid;
   text-align: center;
   margin: 150px;
   margin-top: -100px;
   width: 15%;
   color: rgb(13, 238, 208);
   font-family: sans-serif;
   letter-spacing: 3px;
   padding: 10px;


  }

  #contact{
    color: rgb(13, 238, 208);
  }




 .side-header {
   width: auto;
   height: 130px;
   /* padding: 20px; */
   background-color: black;
   text-align: center;
   position: absolute;
   top: 0;
   left: 0;
   position: fixed;
   z-index: 2025;











 }

 .logo-J {
  /* width: 100%; */
  padding-top: 20px;

 }

 .text-block {
   color: white;
   display: block;
   line-height: 50px;
   background-color: black;



 }

 .name {
   font-size: 1.5em;
   font-family: sans-serif;
   line-height: 20px;

 }

 .title {
   line-height: 80px;
 }

 .lien{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-size: 0.9em;
  font-family: sans-serif;
  /* padding: 20px; */










  /*position: fixed;
  line-height: 30px;
  top: 205px;
  font-size: 1em;
  font-family: sans-serif;
  color: rgb(167, 147, 167);*/




 }

  .lien a{
    text-decoration: none;
    border-top: 1px solid rgba(200, 200, 200, 0.2);
    /* position: relative; */
    right: 35px;
    left: 0;
    /* margin: 10px 30px; */
    width:142px;
    color: rgb(167, 147, 167);
    padding: 20px 0;





    }

     .lien :hover{
      color: #0deed0;




    }





  .text-block-1{
    display: inline;
    position: absolute;

    top: 110%;
    width: 660px;
  }


  .titre{
    font-size: 3.6em;color:
     rgb(13, 238, 208);
     font-family:  sans-serif;
     font-weight: bold;
     padding-left: 190px;

}


 .para-1{
  /* display: block; */

  position: relative;
  padding-left: 190px;
  font-family: sans-serif;
  color: white;
  font-size: 0.9em;
  line-height: 1.5em;
  width: 94%;



 }

 .contact{

  border: 1px solid;
  color: rgb(13, 238, 208);
  width: 250px;
  text-align: center;
  position: absolute;

  bottom: -285px;
  right: 30px;
  letter-spacing: 3px;
  font-family: sans-serif;


  }

  #contact-1{

    border: 1px solid;
    color: rgb(13, 238, 208);
    width: 200px;
    text-align: center;
    position: absolute;

    bottom: -355px;
    right: 70px;
    letter-spacing: 3px;
    font-family: sans-serif;
  padding: 10px;
  }

.grid{
  padding-left: 143px;
  width: 88.3vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 260px);
  overflow: hidden;





}

.grid-div{
  overflow: hidden;
  height: 100%;



}

.grid-div.img2{
  overflow: hidden;
}




.grid-div img {
  overflow: hidden;

  height: 150%;


}

.grid-div .img9{

}

.card-box{
  padding-left: 180px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 83vw;
  row-gap: 30px;
  column-gap: 60px;
  margin-top: -300px;


}

.card-box .card{
  box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
  padding: 20px;
  border-top: solid 2px #81d8f7;


}

.card h2{
  color: #81d8f7;
  font-family: sans-serif;
  letter-spacing: 4px;
}

.card h1{
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
}

.card h1:hover{
  color: #0deed0;

}

.card p{
  color: white;
  opacity: 0.6;
  font-family: sans-serif;
  font-size: 19px;
  line-height: 20px;
}

.card-box-card-1{
  border-top: 2px solid red;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
  padding: 20px;

  line-height: 10px;



}

.card-box-card-1 h1{
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
}




.card-box-card-1 h2{

  color: #f50057;
}

.card-box-card-1 P{
    color: white;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 19px;
    line-height: 20px;

}

.card-box-card-1 h1:hover{
  color: #0deed0;


}


  .card-box-card-1 h1{
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    line-height: 40px;
    cursor: pointer;
  }




  .card-box-card-1 h2{

    color: #f50057;
  }

  .card-box-card-1 P{
      color: white;
      opacity: 0.6;
      font-family: sans-serif;
      font-size: 19px;
      line-height: 20px;

  }

  .card-box-card-1 h1:hover{
    color: #0deed0;


  }
   ;
  .card-box-card-1{
    border-top: 2px solid red;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
    padding: 20px;

    line-height: 10px;



  }

  .card-box-card-1 h1{
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    line-height: 40px;
    cursor: pointer;
  }




  .card-box-card-1 h2{

    color: #f50057;
  }

  .card-box-card-1 P{
      color: white;
      opacity: 0.6;
      font-family: sans-serif;
      font-size: 19px;
      line-height: 20px;



  }

  .card-box-card-1 h1:hover{


    color: #0deed0;


}





.card-box-card-2{
  border-top: 2px solid orange;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
  padding: 20px;

  line-height: 10px;



}

.card-box-card-2 h1{
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
}




.card-box-card-2 h2{


    color: orange;


  }


.card-box-card-2 P{
    color: white;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 19px;
    line-height: 20px;

}

.card-box-card-2 h1:hover{
  color: #0deed0;


}




.card-box-card-3{
  border-top: 2px solid orange;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
  padding: 20px;

  line-height: 10px;



}

.card-box-card-3 h1{
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
}




.card-box-card-3 h2{


    color: orange;


  }


.card-box-card-3 P{
    color: white;
    opacity: 0.6;
    font-family: sans-serif;
    font-size: 19px;
    line-height: 20px;

}

.card-box-card-3 h1:hover{
  color: #0deed0;


}









.card-box-card-4{
  border-top: solid 2px #0deed0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
    padding: 20px;

    line-height: 10px;



  }

  .card-box-card-4 h1{
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    line-height: 40px;
    cursor: pointer;
  }




  .card-box-card-4 h2{


      color: #08fdd8;
  }





  .card-box-card-4 P{
      color: white;
      opacity: 0.6;
      font-family: sans-serif;
      font-size: 19px;
      line-height: 20px;

  }

  .card-box-card-4 h1:hover{
    color: #0deed0;


  }




  .card-box-card-4{
    border-top: solid 2px #0deed0;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
      padding: 20px;

      line-height: 10px;



    }

    .card-box-card-4 h1{
      color: white;
      font-family: sans-serif;
      font-size: 40px;
      line-height: 40px;
      cursor: pointer;
    }




    .card-box-card-4 h2{


        color: #08fdd8;
    }





    .card-box-card-4 P{
        color: white;
        opacity: 0.6;
        font-family: sans-serif;
        font-size: 19px;
        line-height: 20px;

    }

    .card-box-card-4 h1:hover{
      color: #0deed0;


    }





    .card-box-card-4 P{
      color: white;
      opacity: 0.6;
      font-family: sans-serif;
      font-size: 19px;
      line-height: 20px;

  }

  .card-box-card-4 h1:hover{
    color: #0deed0;


  }




  .card-box-card-5{
    border-top: solid 2px#81d8f7;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
      padding: 20px;

      line-height: 10px;



    }

    .card-box-card-5 h1{
      color: white;
      font-family: sans-serif;
      font-size: 40px;
      line-height: 40px;
      cursor: pointer;
    }




    .card-box-card-5 h2{


        color: #81d8f7;
    }





    .card-box-card-5 P{
        color: white;
        opacity: 0.6;
        font-family: sans-serif;
        font-size: 19px;
        line-height: 20px;

    }

    .card-box-card-5 h1:hover{
      color: #0deed0;


    }


  .card-box-card-6{
    border-top: solid 2px ;color: #0deed0;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
      padding: 20px;

      line-height: 10px;



    }

    .card-box-card-6 h1{
      color: white;
      font-family: sans-serif;
      font-size: 40px;
      line-height: 40px;
      cursor: pointer;
    }




    .card-box-card-6 h2{


        color: ;color: #0deed0;
    }





    .card-box-card-6 P{
        color: white;
        opacity: 0.6;
        font-family: sans-serif;
        font-size: 19px;
        line-height: 20px;

    }

    .card-box-card-6 h1:hover{
      color: #0deed0;


    }


    .card-box-card-7{
      border-top: solid 2px #0deed0;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
        padding: 20px;

        line-height: 10px;



      }

      .card-box-card-7 h1{
        color: white;
        font-family: sans-serif;
        font-size: 40px;
        line-height: 40px;
        cursor: pointer;
      }




      .card-box-card-7 h2{


          color:#0deed0 ;
      }





      .card-box-card-7 P{
          color: white;
          opacity: 0.6;
          font-family: sans-serif;
          font-size: 19px;
          line-height: 20px;

      }

      .card-box-card-7 h1:hover{
        color: #0deed0;


      }


      .card-box-card-8{
        border-top: solid 2px#81d8f7;
          box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
          padding: 20px;

          line-height: 10px;



        }

        .card-box-card-8 h1{
          color: white;
          font-family: sans-serif;
          font-size: 40px;
          line-height: 40px;
          cursor: pointer;
        }




        .card-box-card-8 h2{


            color: #81d8f7;
        }





        .card-box-card-8 P{
            color: white;
            opacity: 0.6;
            font-family: sans-serif;
            font-size: 19px;
            line-height: 20px;

        }

        .card-box-card-8 h1:hover{
          color: #0deed0;


        }










.title-1{
  color: #0deed0;
  font-size: 3.8em;
  font-family: sans-serif;
  padding-left: 190px;
  font-weight: bold;


}

.item{
  color: white;
  padding-left: 190px;
  font-size: 1em;
  font-family: sans-serif;
  width: 60%;
  line-height: 1.5em;

}

.item-2 span{
  color: rgb(13, 238, 208);
}

.img{

  width: 200px;
  position: relative;
  bottom: 450px;



  padding-left: 200px;
  right: -400px;


  }

  .container{
    display: grid;
    grid-template-columns:repeat(3fr, 300px);
    grid-template-rows: repeat(3fr, 300px);
    padding-left: 50px;




  }

  .grid-div{
    color: aliceblue;

  }


.title-2{
  color: rgb(13, 238, 208);
  text-align: center;
  font-size: 3.6em;
  font-family: sans-serif;
  padding-left: 120px;
}

.para-2{
  color: white;
  padding-left:240px ;
  width: 52%;
  font-size: 0.9em;
  font-family: sans-serif;

}

form{
  display: flex;
}

.letta{
padding: 15px;
padding-top: 15px;
}

.cero{
  text-align: center;
  padding: 2px;


  padding-left: 130px;



}

input{
  color: white;
}

textarea{
  color: white;
}




.primo{

 padding-left: 230px;


}


.primo input{

  background-color:rgb(43, 42, 42) ;
  border: none;
  outline: none;
  width: 73%;
  font-size: 0.9em;
  height: 40px;
  padding-left: 16px;


}






.cero input {
  background-color: rgb(43, 42, 42);
  border: none;
  outline: none;
  padding-left: 20px;
  height: 40px;
  margin-bottom: 5px;
  font-size: 0.9em;
  width: 25%;

}


.secondo{

   text-align: center;
   padding-left: 29px;
   margin: 5px;




}


.secondo textarea{
  background-color: rgb(43, 42, 42);
  font-size: 1.2em;
  border: none;
  outline: none;
}

.tercero{
  padding-left: 200px;
  margin: 50px;


}



.tercero button{
  padding: 10px;
  background-color: rgb(43, 42, 42);
  width: 80%;
  border: 1px solid rgb(13, 238, 208);
  color: gray;
  font-size: 1.1em;
  letter-spacing: 2px;




}

.map{
  position: absolute;

  padding-left: 105.9%;
  bottom: 0px;
  padding-top: 200px;
}

.map iframe{

  width: 635px;


  height: 650px;
}




















































 body {
   background-color: rgb(37, 36, 36);
  padding: 0%;
  margin: 0%;
}